body, p, div, h2{
  margin: 0;
  padding: 0;
}

.wrapper{

}

.head{
  /* height: 10vh; */
  width: 100vw;
  display: flex;
}
.main_pic{
  width: 100vw;
  height: 100vh;
  background-image: url(../img/tonanAjia_mainpic_2.png);
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
}

div.main_pic div {
  padding-bottom: 100px;
  padding-left: 30px;
}

.logo_header{
  /* text-align: center; */
  /* padding-top: 150px; */
  padding-left: 20px;
  padding-top: 5px;

}

header.head div.logo_header img{
  height: 5vh;
}

.contain{
  width: 100vw;
  height: 700px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
  /* align-items: center; */
  /* background-image: url(../img/herringbone.png);
  background-repeat: repeat; */
  padding-bottom: 100px;
}

.part{
  height: 100%;
  font-size: 14px;
}

div.contain div.about h2, div.contain div.access h2{
  padding-top: 100px;
  padding-bottom: 50px;
  font-size: 70px;
}

.sub_color{
  color: #A9A9A9;
}

div.contain div.about p{
  line-height:3;
  color: #008080;
  padding-bottom: 50px;
}

.about{
  text-align: center;
}
.maps{
}

.access{
  text-align: center;
}


footer{
  height: 10vh;
  background-image:url(../img/herringbone.png);
  background-repeat: repeat;
  position: relative;
}
/*
.footer_logo{
  padding-top: px;
  text-align: center;
}

div.footer_logo img{
  height:5vh;
} */

.copyright{
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
}
